body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.nav {
    display: flex;
    background: transparent;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    color: white;
}

.attribute {
    margin-left: 45%;
   
}

.name {
    font-family: cursive;
    font-weight: bold;
}

.attribute a {
    font-weight: bold;
    text-decoration: none;
    font-family: "Merriweather", serif;
    color: white;
    padding: 10px 25px;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    padding-top: 60px; 
}

.image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover; 
}

.photo {
    padding-top: 10%;
    padding-left: 20%;
}

.data {
    padding-top: 20%;
    padding-left: 5%;
}

.hello {
    font-size: 20px;
}

.n {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.para {
    font-size: 18px;
}
.topic{
    font-size: 40px;
    text-align: center;
    padding-top: 2%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.details{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
 
    padding-top: 60px; 
}
.tech{
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    padding-left: 10%;
}
.tskil{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    
    line-height: 2;
    padding-top: 7%;
}
.all{
    display: flex;
}
.pro{
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    padding-left: 20%;
}
.pskil{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    padding-top: 7%;
}
.tagimg{
    padding-top: 3%;
}