
.section {
    display: none;
   
}
.section.active {
    display: block;
}
.logo {
    height: 50px;
}

.content {
    background-image: url('img/ninearch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
    
}
.topic {
    font-family: serif;
    font-size: 85px;
    margin-left: 33%;
    padding-top: 14%;
    font-weight: bold;
}
.topic2 {
    font-family: Comic Sans MS;
    font-size: 50px;
    font-weight: bold;
    margin-left: 35%;
}
.description {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    padding-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.para {
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
    padding-top: 1%;
    text-align: justify;
    margin-right: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.body {
    background-color: rgba(192, 245, 58, 0.552);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    opacity: 0.8;
}
.topic1 {
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
    font-family: Berkshire Swash;
}
.nature {
    width: 100%;
}
.topics {
    font-size: 20px;
    font-weight: bold;
    padding-top: 1%;
    margin-left: 3%;
}
.describe {
    margin-left: 5%;
    margin-right: 10%;
    text-align: justify;
}
.images {
    height: 400px;
    width: 600px;
}
.place {
    background-color: rgba(192, 245, 58, 0.464);
}
.data {
    display: flex;
}
.placedata {
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    padding-top: 5%;
}
.top {
    font-size: 16px;
}
.pname {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.sigiri {
    height: 400px;
    width: 1300px;
}
.album {
    padding-top: 2%;
    padding-left: 4%;
    background-color: rgba(192, 245, 58, 0.464);
}
.albumimg {
    padding-left: 3%;
    height: 400px;
    width: 600px;
    padding-top: 2%;
}
.below{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact {
    font-size: 18px;
    font-weight: bold;
}

.navbar{
    display: flex;
    opacity: 0.7;
    
}
.nav a{
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    font-family: "Merriweather", serif;
    color: black;
    padding: 10px 35px;
}
.nav{
   
    margin-left: 45%;
    margin-top: 1%;
  
}
.logo{
    width:10%;
    height: 15%;
   margin-left: 2%;
}
.below{
    height:150px;
    display: flex;
    opacity: 0.7;
}
.contact{
    padding-top: 3%;
    margin-left: 5%;
    font-weight: bold;
    
}
.detail{
    margin-left: 5%;
    padding-top: 1%;
}
.f li{
    list-style: none;
}
.f li a{
    font-weight: bold;
    text-decoration: none; 
    color: black;
}
.page{
    padding-top: 2%;
    padding-left: 20%;
}
.f2 li{
    list-style: none;
}
.f2 li a{
    font-weight: bold;
    text-decoration: none; 
    color: black;
}
.page2{
    padding-top: 2%;
    padding-left: 10%;
}